@import "../../../assets/colours";
header {
  background-color: $dark-gray;
}

a {
  color: $white;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    color: $dark-purple;
  }
}

.btn {
  border: 1px solid transparent;
  color: $white;
  background-color: transparent;
  &:hover {
    @extend .active;
  }
}

.active {
  border: 1px solid $dark-purple;
  color: $dark-purple;
  background-color: $white;
}
