/* You can add global styles to this file, and also import other style files */
@import 'assets/colours';

* {
    box-sizing: border-box;
}

body {
    color: $dark-gray;
    font-size: 16px;
}

h1 {
    font-size: 3.4rem;
}

h2 {
    font-size: 2rem;
}

.btn {
    border-radius: 0;
    color: $white;
    background-color: $dark-purple;
    border: 1px solid $white;
    &:hover {
        color: $white;
        background-color: $light-purple;
    }
}